.hero {
    height: 100vh;
    background-image: url("./background.png");
}

@media (min-width: 1200px) {
    .hero {
        height: 836px;
        padding-left: 100px;
    }
}

.hero-text-container {

}

.hero-text {
    color: #fff;
    font-family: "Nunito Sans";
    font-weight: bold;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.learn-more-button {
    background-color: #81bc00;
    font-weight: bold;
    font-size: smaller;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}