.hero {
    background-image: url("./background.png");
}

@media (min-width: 1200px) {
    .hero {
        height: 836px;
        padding-top: 200px;
        padding-left: 80px;
    }
}

.hero-text-container {

}

.hero-text {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.learn-more-button {
    background-color: yellowgreen;
    font-weight: bold;
    font-size: smaller;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}