.hero {
    height: 100vh;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width: 1200px) {
    .hero {
        height: 90vh;
        padding-left: 100px;
    }
}


.hero-text {
    color: #fff;
    font-family: "Nunito Sans";
    font-weight: bold;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.learn-more-button {
    background-color: #81bc00;
    font-weight: bold;
    font-size: smaller;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

@media (min-width: 768px) {
    .brands-drawer {
        position: absolute;
        bottom: -4%;
        border-radius: 10px;
    }
    
}
.brands-drawer {
    z-index: 3000;
}
.brands-accordion {
    position: fixed;
}
.teradyne-companies {
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: thin solid gray;
}
.teradyne-companies-text {
    font-family: "Nunito Sans";
    font-weight: 700;
    color: #81bc00;
}
.view-companies {
    padding: 0px;
    font-family: "Nunito Sans";
    color: #81bc00;
    font-size: small;
    font-weight: bold;
}

.brands-accordion-contents {
    background: linear-gradient( -270deg, rgb(38,104,178) 0%, rgb(37,60,131) 100%);
    color: white;
}