.header-container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 1200px) {
    .header-container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
    }
}

.header {
    height: 66px;
}

.header-link {
    color: #2e4b8a;
}

.dropdown-toggle:after {
    content: none !important
}

.navbar .has-megamenu {
    position: static !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border: none;
    width: 100%;
    left: 0;
}

.dropdown-menu.show {
    padding: 0px;
}

.dropdown-item-text {
    padding: 0px;
}