.teradyne-footer {
    min-height: 50vh;
    color: #2e4b8a;
}

.links-columns-container {
    gap:1em;
}
.links-column {
    gap:1em;
}

.subscribe-text {
    font-size: 0.9rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2f5d9f;

}
.subscribe-input:focus {
    outline: none;
}

.subscribe-input {
    border-color: gray;
    border-width: 0.5px;
}